<br>
<br>
<br>
<br>
<div class = "center">
<p>お気に入り一覧</p>

<% @favorites_pictures.each do |favorite_picture| %>
  <li><%= favorite_picture.content %></li>
  <li><%= image_tag favorite_picture.image %></li>
<% end %>

<br>
<%= link_to "戻る", user_path ,:class => "btn btn-primary"%>
</div>
